<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
             .btn-container button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #c51992;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
</head>
<body>
  

{% block content %}
<h2>Purchase History</h2>
<table>
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Date</th>
    </tr>
    {% for item in history_items %}
    <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>${{ item.total_price }}</td>
        <td>{{ item.purchased_at }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
<a href="{% url 'download_purchase_history' %}" class="btn-container">
    <button>Download Purchase History</button>
</a>
    
</body>
</html>